<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
<connectionStrings><add name="tsEntities" connectionString="metadata=res://*/StEntity.csdl|res://*/StEntity.ssdl|res://*/StEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIVEKPC\SQL;initial catalog=ts;user id=sa;password=LionGirnar007;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
